// 使用官方文档中的命令行编译
.container {
    width: 100%;
    height: 800px;

    .red {
        background-color: red;
        height: 100px;
    }

    .blue {
        background-color: yellow;
        height: 200px;
    }
}